<div layout="column" layout-margin flex>
	<div md-whiteframe="3" layout="column" flex>
		<md-toolbar class="md-hue-3 md-accent">
			<div class="md-toolbar-tools">
				<h2 style="color: white" flex md-truncate>Categorias</h2>
			</div>
		</md-toolbar>
		<md-tabs md-dynamic-height md-border-bottom md-selected="tabPrincipal">
			<md-tab label="Registros">
				<md-content class="md-padding">
					<div>
						<h3>Buscar categoria:</h3>
						<md-input-container flex="30">
							<label>Filtro</label>
							<input ng-model="filtro">
						</md-input-container>
					</div>
					<table ng-if="(categorias | filter:{ descricao: filtro }).length > 0">
						<thead>
							<tr>
								<th>Id</th>
								<th>Descrição</th>
								<th>Cor</th>
								<th>Situação</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="categoria in categorias | filter:{ descricao: filtro } track by categoria.id"
							ng-click="editar(categoria)">
								<td ng-bind="categoria.id"></td>
								<td ng-bind="categoria.descricao"></td>
								<td ng-style="{'background-color': categoria.cor}"></td>
								<td ng-bind="situacoes[categoria.situacao - 1].label"></td>
							</tr>
						</tbody>
					</table>
					<div ng-if="(categorias | filter:{ descricao: filtro }).length == 0">
						<md-button class="md-raised md-accent" ng-click="novo(filtro)">Adicionar novo</md-button>
					</div>
				</md-content>
			</md-tab>


			<md-tab label="Inserir" layout="column" flex>
				<md-content class="md-padding">
					<div layout layout-wrap flex>
						<md-input-container flex="20">
							<label>Id</label>
							<input type="number" ng-model="categoria.id">
						</md-input-container>
						<md-input-container flex="40">
							<label>Situação</label>
							<md-select ng-model="categoria.situacao" aria-label="situação">
								<md-optgroup label="Situação">
									<md-option ng-value="situacao.value" ng-repeat="situacao in situacoes"> {{situacao.label}}</md-option>
								</md-optgroup>
							</md-select>
						</md-input-container>
						<md-input-container flex="40">
							<label>Classificação</label>
							<md-select ng-model="categoria.classificacao" aria-label="calssificação">
								<md-optgroup label="Classificação">
									<md-option ng-value="classificacao.value" ng-repeat="classificacao in classificacoes"> {{classificacao.label}}</md-option>
								</md-optgroup>
							</md-select>
						</md-input-container>
					</div>

					<md-tabs flex="100" ng-show="categoria.classificacao">
						<md-tab label="Dados" ng-if="categoria.classificacao">
							<div layout layout-padding>
								<md-input-container flex="80">
									<label>Descrição</label>
									<input ng-model="categoria.descricao">
								</md-input-container>
								<md-input-container flex="30">
									<label>Cor</label>
									<input ng-model="categoria.cor">
								</md-input-container>
							</div>
						</md-tab>
						<md-tab label="Faturamento" ng-if="categoria.classificacao">
							<div layout layout-padding>
								<h3>Em breve!</h3>
							</div>
						</md-tab>
						<md-tab label="Layout" ng-if="categoria.classificacao===2">
							<div layout layout-padding>
								<h3>Em breve!</h3>
							</div>
						</md-tab>
					</md-tabs>
				</md-content>
				<div layout layout-align="end" layout-margin>
					<md-button class="md-raised" ng-if="categoria.classificacao">Cancelar</md-button>
					<md-button class="md-raised md-primary" ng-if="categoria.classificacao===1" ng-click="salvar(categoria)">Salvar</md-button>
				</div>
			</md-tab>
		</md-tabs>


	</div>
</div>
